.header {
  height: 85px;
  background: linear-gradient(
    180deg,
    rgb(46, 46, 46) 0%,
    rgba(20, 20, 20, 0) 100%
  );
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 70px;
  z-index: 2;
  background: transparent;
}

.logo {
  width: 100px;
  margin-right: 50px;
}

.menu {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 15px;
  }
}

.search-form {
  display: block;
}

.account-btn {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.googleBtn {
  // background: url('../../images/sign-in-with-google.svg') 0 50% no-repeat;
  border-radius: 1px;
  width: 140px;
  height: 30px;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 0;
  border-color: transparent;
  text-align: center;
  border-radius: 3px;
}
