.main-title {
  font-size: 30px;
  text-align: left;
  margin: 0 0 25px 0;

  @include for-size(tablet) {
    font-size: 45px;
  }
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;

  @include for-size(desktop) {
    margin-bottom: 25px;
  }

  @include for-size(hd-desktop) {
    margin-bottom: 30px;
  }
}

body::-webkit-scrollbar {
  background-color: #000000;
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 36%,
    rgba(206, 18, 6, 1) 50%,
    rgba(0, 0, 0, 1) 64%
  );
  border-radius: 7px;
}

.main-scrollUp {
  left: 97%;
  position: sticky !important;
}
