.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  overflow: auto;
  transition: opacity 300ms linear;
  z-index: 100;
  background-color: rgba(24, 41, 54, 0.95);
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 310px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 50px 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f1c26;
  border: 2px solid #2f4f4f;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 300ms linear;

  &:hover,
  &:focus {
    border: 2px solid #20bcc6;
    box-shadow: 0 0 15px #20bcc6;
  }

  &:hover .new_login__soc-label::before,
  &:focus .new_login__soc-label::before,
  &:hover .new_login__soc-label::after,
  &:focus .new_login__soc-label::after {
    box-shadow: 0 0 20px #20bcc6;
  }

  @media screen and (min-width: 410px) {
    width: 400px;
  }

  @include for-size(tablet) {
    max-width: 400px;
  }

  @media screen and (min-width: 400px) and (max-width: 767px) {
    max-width: 500px;
  }

  @include for-size(desktop) {
    max-width: 700px;
  }

  @include for-size(hd-desktop) {
    max-width: 800px;
  }

  &__content {
    width: 100%;
    text-align: center;

    & .fas {
      line-height: 23px;
    }
  }

  &__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 20px;
  }
}

.modal-close-btn {
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgb(209, 209, 209);
  border: 1px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
  transition: all 0.2s linear;

  &:hover,
  &:focus {
    color: #20bcc6;
    box-shadow: 0 0 15px #20bcc6;
  }
}

.body-scroll-disable {
  overflow: hidden;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.form {
  width: 100%;

  &__registration {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__reg-input {
    padding: 10px 10px;
    margin-bottom: 15px;
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #2f4f4f;
    color: #fff;
    transition: all 0.2s linear;

    &::placeholder {
      visibility: hidden;
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid #20bcc6;
    }

    &:hover::placeholder,
    &:focus::placeholder {
      color: #20bcc6;
    }
  }

  &__registration-password {
    margin-bottom: 30px;
  }

  &__login-btn-wrap {
    margin-bottom: 30px;
  }
}

.input-label {
  position: relative;
  width: 100%;
}

.input-label-span {
  position: absolute;
  top: 10px;
  left: 25px;
  color: #2f4f4f;
  transition: all 0.2s linear;
  z-index: -1;
}

.is-activ-focus-input {
  top: -10px;
  left: 15px;
  font-size: 12px;
  color: #20bcc6;
}

.new_login__soc-label {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0 20px;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;

  &::before {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: #77abc7;
    position: absolute;
    top: 14px;
    left: 0;
    transition: all 0.2s linear;
    @media screen and (min-width: 410px) {
      width: 90px;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: #77abc7;
    position: absolute;
    top: 14px;
    right: 0;
    transition: all 0.2s linear;
    @media screen and (min-width: 410px) {
      width: 90px;
    }
  }
}

.auth-wrap {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 250px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal__text-login {
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    border: 1px solid transparent;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.modal__text-reg {
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    border: 1px solid transparent;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.is-activ-elem {
  text-shadow: 0 0 15px #ff0303;
}

.is-activ-elem::before {
  border: 1px solid #ff0000;
}

// BUTTON
.form__btn {
  background: transparent;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s linear;
  border: 2px solid #2f4f4f;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &:hover,
  &:focus {
    background: rgba(32, 188, 198, 0.1);
    box-shadow: 0 0 15px #20bcc6;
    border: 2px solid rgba(32, 188, 198, 1);
  }
}

.invalid {
  color: #ff0303;
}
