.movie-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  opacity: 0;
  transition: opacity 1000ms linear;
  z-index: 10;

  color: #000000;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__content {
    position: absolute;

    padding: 25px;
    background-color: #fff;

    max-width: 280px;
    border-radius: 20px;

    overflow: hidden;

    @include for-size(tablet) {
      max-width: 400px;
    }

    @media screen and (min-width: 400px) and (max-width: 767px) {
      max-width: 500px;
    }

    @include for-size(desktop) {
      max-width: 700px;
    }

    @include for-size(hd-desktop) {
      max-width: 800px;
    }
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;

    outline: none;
    border: none;

    width: 48px;
    height: 48px;

    background-image: url('../images/svg/icon-close.svg');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;

    cursor: pointer;
  }

  &__image {
    width: 100px;
    margin-bottom: 15px;

    @include for-size(tablet) {
      width: 200px;
    }

    @include for-size(desktop) {
      width: 250px;
    }

    @include for-size(hd-desktop) {
      width: 300px;
    }
  }

  &__original-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__homepage {
    font-size: 10px;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  &__vote-block {
    position: relative;
    margin-bottom: 10px;
    text-align: right;
    z-index: 1;
    color: #ffffff;

    &::before {
      content: '';
      position: absolute;
      right: -35px;
      top: -50%;

      transform: skewX(-25deg);

      display: block;
      width: 120px;
      height: 40px;
      background-color: red;
      z-index: -1;
    }
  }

  &__genres {
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__overview {
    font-size: 12px;
  }
}

.movie-modal.is-open {
  opacity: 1;
  pointer-events: initial;
}

.js-blur-on {
  filter: blur(5px);
}
