.movie {
  &__container {
    color: #ffffff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include for-size(tablet) {
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: space-between;
    }
  }

  &__wrapper {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @include for-size(tablet) {
      flex-basis: 340px;
    }
    @include for-size(desktop) {
      flex-basis: 466px;
    }
    &:hover {
      box-shadow: 0px 10px 13px -7px #3b3b3b;
      transform: scale(1.05);
    }
    transition: transform 0.3s linear;
  }

  &__title {
  }

  &__release-date {
  }

  &__average {
  }

  &__image {
    transition: transform 0.3s linear;
  }

  &__overview {
    color: #000000;
  }
}
