.movie {
  &__container {
    color: #000000;
    margin: 0 auto 15px;
  }

  &__wrapper {
    cursor: pointer;

    display: flex;
    flex-direction: column;

    position: relative;
    border-radius: 15px;
    border: 1px solid transparent;
    overflow: hidden;

    outline: none;
    &:focus {
      box-shadow: 1px 5px 15px 5px rgba(32, 188, 198, 0.68);
    }

    transition: transform 0.3s linear;

    @include for-size(mobile) {
      flex-basis: 300px;
    }

    @include for-size(tablet) {
      flex-basis: 300px;
    }

    @include for-size(desktop) {
      flex-basis: 260px;

      &:hover .movie__image,
      &:focus .movie__image {
        transform: scale(1.2);
      }
    }

    @include for-size(hd-desktop) {
      flex-basis: 230px;
    }
  }

  &__image {
    transition: transform 1s ease-out;
    width: 100%;
    height: 100%;
  }

  &__image-wrapper {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__description {
    flex-shrink: 1;
    padding: 15px;
    height: 100%;
    background-color: #ffffff;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 15px;

    @include for-size(tablet) {
      font-size: 25px;
    }

    @include for-size(hd-desktop) {
      font-size: 20px;
    }
  }

  &__release-date {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
  }

  &__average {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 5px;
    top: 5px;

    font-weight: 900;
    font-style: italic;
    color: #ffffff;

    width: 35px;
    height: 35px;

    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      right: -20px;
      height: 60px;
      width: 60px;
      top: -15px;

      transform: skewY(20deg);
      background-color: rgb(229, 9, 22);
      z-index: -2;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.grid-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;

  @media (min-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-size(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include for-size(desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include for-size(hd-desktop) {
    grid-template-columns: repeat(5, 1fr);
  }
}
