.preloader__container {
  position: fixed;
  background: black;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 45px;
  font-weight: bold;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  animation: 7s opacity;
}

.preloader__logo {
  position: relative;
  width: 360px;
  height: 520px;
  animation: 7s fadein-fadeout;

  @media (max-width: 767px) {
    width: 280px;
    height: 400px;
  }
}

.preloader__logo::before {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 10;
  width: 120%;
  height: 30px;
  background: black;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}

.uno,
.dos,
.tres {
  position: absolute;
  width: 120px;
  height: 100%;
  background: #b00612;

  @media (max-width: 767px) {
    width: 95px;
  }
}
.uno {
  left: 0;
}
.dos {
  background: #e50815;
  left: 0;
  z-index: 1;
  transform-origin: top left;
  transform: skewX(25.4deg);
  box-shadow: 0 0 20px black;
}
.tres {
  right: 0;
}

.preloader__name {
  text-transform: uppercase;
  letter-spacing: 15px;
  animation: 4s name linear;
}

@keyframes fadein-fadeout {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  35% {
    opacity: 1;
    transform: scale(1);
  }

  60% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes name {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  80% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
