.short {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%;
  left: 20px;
  color: #fff;
  z-index: 1000;
  font-size: 28px;
  background-color: rgba(34, 34, 34, 0.5);
  padding: 20px;

  & i:not(:last-child) {
    margin-bottom: 15px;
    cursor: pointer;
  }
}
