{{#each this}}
<div class="trending__wrapper">
    <h3 class="trending__title">{{this.title}}</h3>
    <img src="{{this.backdrop_path}}" alt="{{this.title}}" class="trending__image">
    <span class="trending__average"></span>
</div>
{{/each}}