html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    180deg,
    rgb(141, 141, 141) 0%,
    rgb(70, 70, 70) 5%,
    rgba(20, 20, 20, 1) 10%
  );
  // background: #141414;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 300px;

  @include for-size(tablet) {
    width: 710px;
  }

  @include for-size(desktop) {
    width: 960px;
  }
}
